<title>My application deployed automatically</title>
  <h1>Box 1 takes integer arraylist arguments,box 2 takes integer arguments,box 3 takes string and box 4 takes,string array !</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>